.recipe-card{
  float:left;
  margin-right:1em;
}

.recipe-card img{
  height:150px;
  width:150px;
}

.recipe-card p{
  text-align:center;
  background:lightgrey;
  width:100%;
  margin-top:-0.25em;
}

button{
  font-size:2em;
  border-radius:15px;
  background:#EEE;
}

.lower{
  clear:both;
}

.lower div{
  color:black;
  float:left;
  margin-right:1em;
  margin-bottom:1em;
  height: 15em;
  width:15em;
  text-align:center;
  border:2px solid black;
}