.recipe-card{
  float:left;
  margin-right:1em;
}

.recipe-card img{
  height:150px;
  width:150px;
}

.recipe-card p{
  text-align:center;
  background:lightgrey;
  width:100%;
  margin-top:-0.25em;
}

button{
  font-size:2em;
  border:1px solid grey;
  border-radius:15px;
  background:#EEE;
}

button:hover{
  cursor:pointer;
}
.lower{
  clear:both;
  background: #CDF;
  overflow:hidden;
  padding:1em;
  width:100%;
}

.upper{
  background: #ADD;
  overflow:hidden;
  padding:1em;
  width:100%;
  margin-bottom:1em;
}

.lower div{
  color:black;
  background:white;
  float:left;
  margin-right:1em;
  margin-bottom:1em;
  height: 15em;
  width:15em;
  text-align:center;
  border:2px solid black;
}

.single-letter{
  font-size:9em;
  margin-top:0.2em;
}

.heading{
  font-size:3em;
  text-align:center
}